<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置包扫描    -->
    <context:component-scan base-package="sirsiiaa.webkata.java"/>
    <!-- 使用M1、M2（spring-mvc-kata-getstart）引入的Adapter没有处理JSON的能力  -->
    <!-- 事实上所有的xml标签都对应了相应的Java类进行功能处理才会生效    -->
    <mvc:annotation-driven/>
</beans>